.standard-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    border-radius: 7px;
}

.standard-form ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	color: var(--hyper-blue);
	font-weight: bold;
}

.standard-form label {
	display: inline-block;
	margin-bottom: 10px;
}

.standard-form ul li {
	margin-bottom: 25px;
}

.standard-form li:last-child {
	padding-top: 20px;
	margin-bottom: 0;
}

.text-input {
    width: 296px;
}

.standard-form input{
	color: var(--hyper-blue);
}

.standard-form input:focus {
	outline-color: var(--hyper-orange);
}

.submit-button {
    font-family: 'Montserrat';
    font-weight: bold;
    background: #fefefe;
    border: 2px solid var(--hyper-blue);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background: var(--hyper-blue);
    color: #fefefe;
}

.wrong-credentials {
    color: #e51e24;
}

.hello-user {
    margin-left: 100px;
    margin-right: 20px;
    color: var(--hyper-orange);
}

.row-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
}

.row-form select,
.row-form input {
    border: 2px solid var(--hyper-blue);
    border-radius: 3px;
}
