:root {
    --hyper-orange: #eb8e00;
    --hyper-dark-orange: #d98300;
    --hyper-darker-orange: #c27500;
    --hyper-blue: #293c4f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.events,
.tournaments {
    cursor: pointer;
}